.contexts
  .top
    %p.top__text
      = @group.name
      %a.top__test__member
        = "member ;"
        -@group.users.each do |user|
          ="#{user.name}"
    = link_to "#" ,class: "tops" do
      %p.tops__edit
        edit
  .line
  .bottom
    = render @messages
    -# %p.bottom__text
    -#   test
    -#   %a.bottom__text__time
    -#     2019/12/22
    -# %p.bottom__message
    -#   kk
  .under
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'new_message', placeholder: 'type a message'
      = f.label :image, class: 'input-box__image' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
