.side
  .header
    .top-items
      %p.top-items__name
        name
      %ul.top-items__icons
        %li.top-items__icons__cog
          = link_to "#" ,class: "a-color" do
            = icon('fas', 'cog')
        %li.top-items__icons__edit
          = link_to "#" ,class: "a-color" do
            = icon('fas', 'edit')
  .footer
    = link_to "#" ,class: "group" do
      %p.group__group-name
        test
      %p.group__last-message
        メッセージはありません
